{% load static %}
{% url 'books:list' as books_list_url %}
{% url 'home_page' as home_page_url %}
{% url 'users:profile' as profile_page_url %}
{% url 'users:profile-edit' as profile_edit_page_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Goodreads Clone{% endblock %}</title>
    <!-- only Css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/stars.css' %}" rel="stylesheet" type="text/css">
</head>

<body class="mx-5">
    <nav class="navbar navbar-expand-lg mb-4 " style="background-color: #e3f2fd;" >
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'landing_page' %}">Goodreads Clone</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link {% if request.path == home_page_url %} active {% endif %}" aria-current="page" href="{{ home_page_url }}">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link {% if request.path == books_list_url %} active {% endif %}" aria-current="page" href="{{ books_list_url }}">Books</a>
          </li>
      </ul>
        <div class="me-5">
            {% if request.user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.path == profile_page_url or request.path == profile_edit_page_url %} active {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ request.user.username }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'books:create' %}">   Book Create</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a></li>
                    </ul>
                </li>
                </ul>
        {% else %}
            <div>
                <a class="btn btn-outline-primary" href="{% url 'users:login' %}">Login</a>
            </div>
        {% endif %}
        </div>
{#      <form class="d-flex" role="search">#}
{#        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>#}
{#        <button class="btn btn-outline-success" type="submit">Search</button>#}
{#      </form>#}
    </div>
  </div>
</nav>

<div class="container">
    {% if messages %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}

    {% endif %}
    {% block content %}
    {% endblock %}
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{% static 'js/star-rating.js' %}"></script>
</body>
</html>