{% extends 'base.html' %}

{% block content %}
    <h1>Landing page</h1>
    <p>The Blueprint is a harrowing novel set in an alternate United States—a world of injustice and bondage. Solenne
        Bonet, a young Black woman in Texas, lives in a society where an algorithm dictates her occupation, spouse, and
        residence. Seeking solace, she pens the biography of Henriette, her ancestor and an enslaved concubine. When
        Solenne becomes entangled with Bastien Martin, a high-ranking government official, she must decide, with
        Henriette's story as her guide, whether to escape the psychological bond that imprisons her.
    </p>
{% endblock %}